<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.adonis.dao.auth.AuthPowerDao">
	
	<!-- 状态对象 -->
	<resultMap id="StateModel" type="com.cn.adonis.model.state.StateModel">
	   	<result column="code" property="code" jdbcType="INTEGER" />
	   	<result column="msg" property="msg" jdbcType="VARCHAR" />
		<result column="keyID" property="keyId" jdbcType="BIGINT" />
	   	<result column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 处理角色按钮映射表数据 -->
	<select id="handleRoleAction" parameterType="com.cn.adonis.entity.auth.AuthRoleAction">
		{
			call p_auth_roleaction_handle(
					#{roleId,jdbcType=BIGINT,mode=IN}, 
					#{actionId,jdbcType=BIGINT,mode=IN}, 
					#{isCheck,jdbcType=INTEGER,mode=IN}
				)
		}
	</select>
	
	<!-- 处理角色菜单映射表数据 -->
	<select id="handleRoleMenu" parameterType="com.cn.adonis.entity.auth.AuthRoleMenu">
		{
			call p_auth_rolemenu_handle(
					#{roleId,jdbcType=BIGINT,mode=IN}, 
					#{menuId,jdbcType=BIGINT,mode=IN}, 
					#{isCheck,jdbcType=INTEGER,mode=IN}
				)
		}
	</select>
	
	
	
</mapper>